@model Person
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="border: 1px solid black; text-align: center; margin-left: 150px; width: 500px;">
    <h1>Results</h1>
    <div style="text-align: left; margin-left: 175px">
        <p>Name: @Model.Name</p>
        <p>Location: @Model.Location</p>
        <p>Language: @Model.Language</p>
        <p>E-mail Address: @Model.Email</p>
        @{
            if (Model.Comment != null)
            {
                <p>Comments: @Model.Comment</p>
            }
        }
    </div>
</body>

</html>